@font-face {
    font-family: "VFutura";
    src: url("../fonts/VFutura-Light.otf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "VFutura";
    src: url("../fonts/VFutura-Medium.otf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "VFutura";
    src: url("../fonts/VFutura-Bold.otf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "VFutura";
    src: url("../fonts/VFutura-Heavy.otf") format("truetype");
    font-weight: 800;
}

main > a {
    text-decoration: none !important;
}

body{
    margin: 0;
    font-family: VFutura;
    font-weight: 100;
}

.admin-option{
    position: relative;
    flex-direction: column;
}

.admin-option:hover > div{
    display: block;
}

.admin-option > div{
    display: none;
    position: absolute;
    right: 0px !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}

.admin-option > div > div{
    transition: 800ms ease ;
    width: 100px;
    padding: 10px;
    background: white;
    border-radius: 10px;
    opacity: inherit;
}

.admin-option > div > div:hover{
    background: #717171 ;
    color: #f2f2f2;
    border-radius: 0px;
}

.past-event img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.past-event{
    opacity: 0.8;
}

.displayIfCheckBox:nth-child(n+3){
    display : none;
}

#adminDisplayForm > form{
    display: none;
}

/* *** BOOSTRAP REECRITURE ***** */
.carousel-item {
    height: 300px;
}

.bg-light {
    background: -webkit-linear-gradient(156deg, #000000 -50%, #C13039 12%,#C13039 95%, #000000 120%) !important;
    background: -moz-linear-gradient(156deg, #000000 -50%, #C13039 12%,#C13039 95%, #000000 120%) !important;
    background: -o-linear-gradient(156deg, #000000 -50%, #C13039 12%,#C13039 95%, #000000 120%) !important;
}

.bg-light div {
   color: white;
}

.bg-light a .active {
    color: white !important;
    opacity: 0.5 ;
}

.navbar a {
    color: white !important;
    opacity: 0.5 ;
    font-size: 1.5em;
}

.navbar a:hover {
    opacity: 1 ;
}

.navbar .active a{
    opacity: 1 ;
}

.txt-r {
    color:#bf5549!important;
}

.txt-b {
    color:#333!important;
}

.calendrierTile:hover {
    opacity: 0.5;
}

.genre:hover{
    color: white;
    background: -webkit-linear-gradient(156deg, #000000 -50%, #C13039 12%,#C13039 95%, #000000 120%) !important;
    background: -moz-linear-gradient(156deg, #000000 -50%, #C13039 12%,#C13039 95%, #000000 120%) !important;
    background: -o-linear-gradient(156deg, #000000 -50%, #C13039 12%,#C13039 95%, #000000 120%) !important;
}

.genreSelected{
    color: white;
    background: -webkit-linear-gradient(156deg, #000000 -50%, #C13039 12%,#C13039 95%, #000000 120%) !important;
    background: -moz-linear-gradient(156deg, #000000 -50%, #C13039 12%,#C13039 95%, #000000 120%) !important;
    background: -o-linear-gradient(156deg, #000000 -50%, #C13039 12%,#C13039 95%, #000000 120%) !important;
}

/*  ****************  */
